.faq{
    background-color: whitesmoke;
    margin: 0px;
    color: black;
    padding: 20px 200px 30px 200px;
}

p{
    color: white;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}
h1{
    color: white;
    font-family: 'Quicksand', sans-serif;
}

u{
    color: red;
    cursor: pointer;
}